@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

html {
	text-align: center;
	background-image: url('/img/confectionary.png');
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 14px;
	text-align: left;
	width: 768px;
	margin: 20px auto 50px;
	padding: 20px;
	box-sizing: border-box;
	background-color: #FFF;
}

h1, h2 {
	font-family: 'Arvo', 'Palatino', serif;
	font-weight: normal;
}

h1 {
	font-size: 32px;
	border-bottom: 1px #000 solid;
	margin-top: 0;
}

h2 {
	font-size: 24px;
}

h3 {
	font-weight: bold;
	font-size: 18px;
}

dl dt {
	font-style: italic;
}

ul {
	margin-top: 0;
}