<h2>Artists</h2>

<ul>
	{{#each model as |artist|}}
		<li>{{#link-to "artists.artist" artist.id}}{{artist.name}}{{/link-to}}</li>
	{{else}}
		<li>There are no artists to display.</li>
	{{/each}}
</ul>