<h2>{{model.artist.name}} - {{#link-to "artists.artist" model.artist.id}}{{model.artist.name}}{{/link-to}}</h2>

<dl>
	<dt>Year:</dt>
	<dd>{{model.album.year}}</dd>
	<dt>Total Sold:</dt>
	<dd>{{model.album.total_sold}}</dd>
</dl>

<h3>Comments</h3>
